/* COMMON */

body {
    font-family: 'Inter', sans-serif;
    min-width: 320px;
}

.brand-logo img {
    /* width: 25%; */
    height: 25px;
}

/* HEADER */

nav {    
    padding-top: 15px;
    padding-bottom: 4px;   
}

nav a {
    color: #132a59;
}

nav .btn {
    border-color: #2580ff;
    color: #2580ff;
}

.menu_center li {
    line-height: 30px;
}



.burger {
    text-align: right;
    color: #2580ff;
    font-size: 20px;
}

/* jumbotron */
.jumbotron {
    background-image: url('../img/ms-jumbo.jpg');
    color: white;
}

.jumbotron h1 {
    text-align: left;
    font-size: 50px;
}

.sign-in {    
    padding: 20px 10px;
    background-color: white;
    color: black;
    text-align: center;
    border-radius: 5px;
}

.sign-in h2 {
    color: #041d4f;
}

.sign-in h3 {
    color: #0b70ff;
}

.sign-in .btn-primary {
    margin-top: 10px;
}

.btn_logo_gog {
    position: relative;
}

.btn_logo_gog img {
    width: 4%;
    position: absolute;
    left: 10px;
}